
<% if user_logged_in? %>

  <h1 class="center">Hello <%= @user.fetch("first_name") %> <%= @user.fetch("last_name") %></h1>

  <h3 class="center"><%= link_to "View Team Info", teams_path%></h3>

<% else %>
  <%= link_to "Please Log In", new_session_path %>
<% end %>
