<footer class="fixed-footer">

  <div class="footer-copyright">
    <div class="center container">
      <span class="white-text flow-text"><%= current_user.fetch("first_name") %> <%= current_user.fetch("last_name") %></span>
    </div>
  </div>
</footer>
