<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">TeamSnap</a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Team Info", teams_path%></li>
        <li><%= link_to "Roster", members_path%></li>
      </ul>
    </div>
  </nav>
</div>
